@keyframes loading-initial {
    0% { opacity: 0; background-color: #777; width: 0; }
    100% { opacity: 1; background-color: #FFF; width: 100%; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: loading-initial;
    animation-duration: 2.5s;
    animation-direction: normal;
    overflow: hidden;
}